

body {
    font-family: 'Montserrat', sans-serif;
    background-color: gray;
    color:aliceblue;

} 
h1, p, nav {
    margin: 0;
    padding: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1600px;
    border: 4px solid blue;
    padding-left: 20px;
    margin-left: 20px;
}

.left-column {
    padding: 20px;
    margin-top: 40px;
}

.left-column h1 {
    font-size: 68px;
    padding-bottom: 10px;
}

.socials {
    margin-bottom: 10px;
}
.socials a {
    margin-right: 4px; 
}
.socials img {
    max-width: 80px;
    max-height: 80px;
    display: inline;
    margin-top: 0%;
    padding-top: 4px;
}

.interior-linking {
    margin-top: 10px;
}

.interior-linking a{
    
    margin-right: 12px;
}

/*               */

.right-column {
    padding: 20px;
    background-color: #e0e0e0;
}

