
body {
    font-family: 'Montserrat', sans-serif;
    background-color: gray;/*gray*/
    color: aliceblue;
    margin: 0;
}

h1, h2, p, nav {
    margin: 0;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

.grid-container {
    display: flex;
    max-width: 1600px;
    border: 4px solid blue;
    margin-left: 20px;
}

.left-column {
    flex: 0 0 50%; 
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1;
    box-sizing: border-box; /* Include padding and border in the width */
    height: 100vh; /* Make the left column the full height of the viewport */
    overflow: auto; /* Enable scrolling if content exceeds viewport height */
}

.right-column {
    flex: 0 0 50%; /* Set a fixed width for the right column */
    padding: 20px;
    background-color: black;
    box-sizing: border-box;
    overflow-y: auto; /* Enable scrolling if content exceeds viewport height */
}

.left-column h1 {
    font-size: 68px;
    padding-bottom: 10px;
}

.socials {
    margin-bottom: 10px;
}

.socials a {
    margin-right: 4px;
}

.socials img {
    max-width: 80px;
    max-height: 80px;
    display: inline;
    margin-top: 0%;
    padding-top: 4px;
}

.interior-linking {
    margin-top: 10px;
}

.interior-linking a {
    margin-right: 12px;
}

.interior-linking a:hover {
    color: #2E456D;
}

.right-column h1 {
    padding-bottom: 2px;
    margin: 2px;
    font-size: 36px;
}

.education-panel,
.experience-panel,
.project-panel {
    background-color: #0e1111;/* rgba(0, 0, 0, 0.3)*/
    margin: 8px;
}

.experience-panel-info {
    display: inline;
}
.experience-panel-info a {
    color: cornflowerblue;
}

.experience-panel-info p {
    color: whitesmoke;
}
